<div class="col">
    @await Html.PartialAsync("_carousel")
</div>
<div class="col">
    <div class="container bg-3 text-center">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col mt-4">
                <div class="row row-cols-3 row-cols-md-3 g-4 text-center">
                    <div class="col">
                        <hr class="rounded bg-dark">
                    </div>
                    <div class="col">
                        <h3 class="text-uppercase">Group Rooms</h3>
                    </div>
                    <div class="col">
                        <hr class="rounded">
                    </div>
                </div>
            </div>
            <div class="col">
                @await Html.PartialAsync("_videoCard")
            </div>

            <div class="col mt-4">
                <div class="row row-cols-3 row-cols-md-3 g-4 text-center">
                    <div class="col">
                        <hr class="rounded bg-dark">
                    </div>
                    <div class="col">
                        <h3 class="text-uppercase">Live Rooms</h3>
                    </div>
                    <div class="col">
                        <hr class="rounded">
                    </div>
                </div>
            </div>
            <div class="col">
                @await Html.PartialAsync("_videoCard")
            </div>

            <div class="col mt-4">
                <div class="row row-cols-3 row-cols-md-3 g-4 text-center">
                    <div class="col">
                        <hr class="rounded bg-dark">
                    </div>
                    <div class="col">
                        <h3 class="text-uppercase">Stream Videos</h3>
                    </div>
                    <div class="col">
                        <hr class="rounded">
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_videoCard")
        </div>
    </div>
</div>
