<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/images/bg1.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-controller="Account" asp-action="ForgotPassword" method="POST">
                    <div class="divider d-flex align-items-center my-4">
                        <h2>Login</h2>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label fs-5">Email</label>
                        <input type="email" name="email" class="form-control form-control-lg"/>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn bg-my-blue btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                class="link-danger">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}