@model ResetPasswordModel
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/images/bg1.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-controller="Account" asp-action="ResetPassword" method="POST">
                    <input type="hidden" asp-for="Token">
                    <div class="divider d-flex align-items-center my-4">
                        <h2>Login</h2>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-outline mb-4">
                        <label class="form-label fs-5" asp-for="Email"></label>
                        <input asp-for="Email" class="form-control form-control-lg"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                
                    <div class="form-outline mb-3">
                        <label class="form-label fs-5" asp-for="Password"></label>
                        <input asp-for="Password" class="form-control form-control-lg"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-3">
                        <label class="form-label fs-5" asp-for="RePassword"></label>
                        <input asp-for="RePassword" class="form-control form-control-lg"/>
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn bg-my-blue btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}