@model GroupVideoViewModel

@{
    var groupVideos = Model.GroupVideos;
}

@section Css
{
  <link rel="stylesheet" href="~/css/toruskit.bundle.css">
}

<div class="container">
    <div class="row">
        @if (User.IsInRole("Broadcaster"))
        {
            <div class="col-md-12 mt-4">
                <a class="btn btn-primary btn-block fs-5 fw-bold rounded-pill" href="/group/create">Create A Group</a>
            </div>
        }
        <div class="col-3 mt-5">
            @await Html.PartialAsync("_filtering")
        </div>
        <div class="col-9 mt-5">
            <div class="row row-cols-1 row-cols-md-1 g-3">
                <div class="col">
                    <div class="row row-cols-3 row-cols-md-3 g-4">
                        @foreach (var groupVideo in groupVideos)
                        {
                            <div class="col">
                                @await Html.PartialAsync("_groupVideoCard",groupVideo)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <ul class="pagination pagination-flush">
                @if (Model.PageInfo.CurrentPage > 1)
                {
                    <li class="page-item active">
                        <a class="page-link" href="~/groups/list">First</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link active" href="~/groups/list?page=@(Model.PageInfo.CurrentPage - 1)">Previous</a>
                    </li>
                }
                @for (var page = Model.PageInfo.StartPage; Model.PageInfo.EndPage >= page; page++)
                {
                    <li class="page-item @(Model.PageInfo.CurrentPage == page?"active":"")">
                        <a class="page-link circle circle-md" href="~/groups/list?page=@(page)">
                            <span>@(page)</span>
                        </a>
                    </li>
                }
                @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalItems)
                {
                    <li class="page-item active">
                        <a class="page-link active" href="~/groups/list?page=@(Model.PageInfo.CurrentPage + 1)">Next</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link active" href="~/groups/list?page=@(Model.PageInfo.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
