<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-block" href="/group/create"></a>
        </div>
        <div class="col-3 mt-5">
            @await Html.PartialAsync("_filtering")
        </div>
        <div class="col-9 mt-5">
            <div class="row row-cols-1 row-cols-md-1 g-3">
                <div class="col">
                    <div class="row row-cols-3 row-cols-md-3 g-4">
                        <div class="col">
                            @await Html.PartialAsync("_videoCard")
                        </div>
                        <div class="col">
                            @await Html.PartialAsync("_videoCard")
                        </div>
                        <div class="col">
                            @await Html.PartialAsync("_videoCard")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
