.bg-purple{
    background-color: #7027A0;
}
.bg-my-blue{
    background-color: #0da18e;
}
.avatar {
    vertical-align: middle;
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
  }

nav-fixed{
    width: 20% !important;
}