.bg-purple{
    background-color: #7027A0;
}
.bg-my-blue{
    background-color: #0da18e;
}
.avatar {
    vertical-align: middle;
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
}

.carouselSize
{
    height: 30rem !important;
}

hr.rounded {
    border-top: 8px solid #0da18e;
    border-radius: 5px;
}