<div>
    <div class="input-group">
        <input class="form-control border-0 border-bottom" type="search" value="search" id="category-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-0 border-bottom border ms-n5" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
<div id="categories-list" class="list-group list-group-flush border-0 scrollbar overflow-auto"
    style="margin:0; font-size:small; height: 300px; overflow-x: hidden !important;">
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                All

            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Programming
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Math
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                English
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                English
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                English
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                English
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                English
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="form-check justify-content-between">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                English
            </label>
            <span class="badge bg-primary rounded-pill" style="float:right !important;">4</span>
        </div>
    </div>
</div>