@model GroupVideoDetail

<div class="card text-center">
    <img src="data:image/*;base64,@(Convert.ToBase64String(Model.VideoImage))" class="card-img-top" alt="...">
    <h5 class="card-title mt-2">@Model.GroupVideoName</h5>
    <div class="card-body">
        <p class="card-text">
            @Model.Description
        </p>
    </div>
    <div class="card-footer">
        <a href="@Model.JoinUrl" class="btn bg-my-blue mb-2 w-75 h-auto" >Join</a>
    </div>
</div>