<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>StudyWithMe</title>
</head>

<body>
    @await Html.PartialAsync("_navbar")

    <div class="row row-cols-1 row-cols-md-1 g-4">
        @RenderBody()
    </div>
</body>
<footer class="bg-purple">
    Study With Me
</footer>

</html>