<nav class="navbar navbar-expand-lg navbar-dark bg-purple py-0">
  <div class="container">
    <a class="navbar-brand" href="/"
      style="margin: 0 3rem 0 3rem; font-size: 2rem !important;"><strong><i>Study</i></strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fw-bold" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto w-100">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/groups">Group Study</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/liveVideos">Live Study</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/streamVideos">Stream Videos</a>
        </li>
      </ul>
      <div class="navbar-nav ml-auto" style="margin-right: 4rem;">
        @if(User.Identity.IsAuthenticated)
        {
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="~/images/imgavatar.png" alt="Avatar" class="avatar">
              @User.Identity.Name 
            </a>
            <ul class="dropdown-menu navbar-dropdown shadow-lg p-3 mb-5 bg-body rounded" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/settings"><i class="fas fa-cog"></i><span>Settings</span></a></li>
              <li><a class="dropdown-item" href="/account/logout"><i class="fas fa-sign-out-alt"></i><span>Log out</span></a></li>
            </ul>
          </div>
        }
        else 
        {
          <div class="nav-item p-3">
            <a class="nav-link text-light" href="/account/login" role="button">
              Login
            </a>
          </div>
          <div class="nav-item p-3">
            <a class="nav-link text-light" href="/account/reigster" role="button">
              Register
            </a>
          </div>
        }
       
      </div>
    </div>
  </div>
</nav>
