@model AlertMessage

<div class="row cols-1 cols-md-1 mt-5">
    <div class="col">
        <div class="alert alert-@Model.AlertType">
            <h4 class="alert-title">@Model.Title</h4>
            <p>@Model.Message</p>
        </div>
    </div>
</div>