<div class="row row-cols-3 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="~/images/studyimage.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Video Name</h5>
            <div class="card-body">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn bg-my-blue mb-2 w-75">Join Room</a>
            </div>
        </div>
    </div>
</div>